.box1 {

font-size: small;
height: 100%;
padding: 10px;
background-color: rgba(246, 210, 210, 1);;
line-height: 20px;
margin: 10px;
border-radius: 5px;
}

.h6{
    margin-top: 30px;
    margin-left: 20px;
    margin-right:20px;
}

.status{
    display: flex;
    justify-content: space-between;
}


.container{

margin-left: 20%;
margin-right: 20%;
}


.font {

    line-height: 2rem;
}